<%- contentFor('body') %>
  <form class="mt-4 w-full flex justify-center items-center" id="postapost" method="post">
    <div class="flex bg-gray-800 rounded-xl shadow p-3"><%if(req.user) {%>
        <img class="w-10 h-10 rounded-full " src="<%=!req.user.avatar?'https://cdn.discordapp.com/embed/avatars/0.png':`https://cdn.discordapp.com/avatars/${req.user.id}/${req.user.avatar}?size=4096`%>" alt="User avatar" onclick="location.href='<%=req.user?'/profile/'+req.user.id:''%>'"></img>
        <%} else {%>
          <img class="w-10 h-10 rounded-full " src="https://cdn.discordapp.com/embed/avatars/0.png" alt="User avatar"></img>
        <%}%><textarea aria-describedby="tweet" class="rounded-xl bg-transparent text-slate-100 w-full p-2 h-full outline-none resize-none" placeholder="<%=req.t('body.tweet')%>" maxlength="512"></textarea>
    <button aria-label="postar" class="ml-2 p-3 rounded-full"><i data-feather="send"></i></button>
      </div>
  </form>
  <div x-data="{tab:'newPosts'}">
    <div class="mt-2 sticky top-[4.7rem] bg-gray-900/70 backdrop-blur-lg drop-shadow-sm w-full text-sm font-medium text-center border-b text-gray-400 border-gray-700">
        <ul class="flex -mb-px w-full">
            <li class="mr-2 w-1/2">
                <a @click="tab='newPosts'" class="w-full inline-block p-4 border-b-2 border-transparent hover:text-gray-600 transition-all" x-bind:class="tab==='newPosts'?'w-full inline-block p-4 border-b-2 border-blue-600 text-blue-500 hover:text-blue-600 transition-all':''" x-transition>Novos Winds</a>
            </li>
            <li class="mr-2 w-1/2">
                <a @click="tab='hotPosts'" class="w-full inline-block p-4 border-b-2 border-transparent hover:text-gray-600 transition-all" x-bind:class="tab==='hotPosts'?'w-full inline-block p-4 border-b-2 border-blue-600 text-blue-500 hover:text-blue-600 transition-all':''" x-transition>Mais curtidos</a>
            </li>
        </ul>
    </div>
    <div id="timeline" x-show="tab==='newPosts'" x-transition>
     <%-include('../components/loading')%>
    </div>
    <div id="hotPosts" x-show="tab==='hotPosts'" x-transition>
      <%-include('../components/loading')%>
    </div>
  </div>
  <script src="/timeline/posts.js"></script>
  <script src="/timeline/postAPost.js"></script>